/* jumbotron */
body{
    min-height: 2000px;
}
.jumbotron{
    padding-top: 2rem ;
    background-color: #f3eeec;
}
#about_me{
    background-color:#b4895b;
}

#portofolio{
    background-color: #f3eeec ;
}

#contact-me{
    background-color: #f3eeec;
}


}